.wrapper {
  position: relative;
  width: 100%;
}

.placeholder {
  pointer-events: none;
  left: 9px;
  top: 9px;
  position: absolute;
  font: inherit;
  color: #242424;
  transition: all 0.2s ease;
}

.AppInput {
  width: 100%;
  box-sizing: border-box;
  background: none;
  padding: var(--border-padding);
  border: 1px solid #242424;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font: inherit;
  outline: none;
  transition: all 0.2s ease;

  &.hasError {
    border-color: red;

    & + .placeholder {
      color: red;
    }
  }

  &::placeholder {
    opacity: 0;
  }

  &:not(:placeholder-shown) {
    border-color: var(--highlight-color);
    padding: 28px 8px 8px;

    & + .placeholder {
      font: var(--font-m);
      color: var(--highlight-color);
    }

    &.hasError {
      border-color: red;

      & + .placeholder {
        color: red;
      }
    }
  }
}