.SidebarItem {
  padding: var(--border-padding);
  border-radius: var(--border-radius);
  width: fit-content;
  display: flex;
  align-items: center;
  transition: transform 0.1s ease;

  &:hover {
    background: var(--border-color);
  }

  &:active {
    transform: scale(0.9);
  }
}
