:root {
  --font-family-main: Sans-serif;
  --font-line: 1.5;
  --font-size: 16px;
  --font: var(--font-size) / var(--font-line) var(--font-family-main);

  //colors
  --app-bg-color: #000;
  --primary-color: #fff;
}