.AppHeader {
  display: flex;
  align-items: center;
  padding: var(--border-padding);
}

.button {
  border-radius: 50%;

  &:hover {
    background: var(--border-color);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.title {
  margin-left: 16px;
  font: var(--font-l);
  font-weight: bold;
}